.mainAcc {
  position: relative;
  width: 100%;
  height: 100vh;

  background: rgba(50, 50, 50, 1);
  display: flex;
  flex-direction: column;
}

/* --- Заголовок --- */
.account_label {
  font-size: 26px;
  font-weight: 600;
  color: white;
  padding: 20px;
}

.InfoContainer {
  display: flex;
  flex-direction: row;
  gap: 15px;
  width: 428px;
  height: 100px;
  top: 204px;
  padding: 20px;
}
.userimg {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50px;
  width: 70px;
  height: 70px;
  top: 10px;
  left: 18px;
  padding: 15px;
}
.user-name {
  font-weight: 500;
  font-size: 24px;
  color: rgba(255, 255, 255, 1);
  align-content: center;
}

.profile-btn-acc {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px;
  padding: 20px;
}
.account-settings__label {
  text-align: left;
  color: rgba(255, 255, 255, 1);
}
.prof-button {
  background: rgba(50, 50, 50, 1);
  border: none;
}
.delAcc-button {
  background: rgba(50, 50, 50, 1);
  border: none;
  padding-bottom: 50px;
  margin: 0;
}

.dell-label {
  color: rgb(150, 4, 4);
  font-weight: 200;
  font-size: 14px;
}
