.password {
    position: relative;
  width: 100%;
   min-height: 100vh;
  background: rgb(253, 253, 253);
  padding: 20px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
}
.password .inp-group {
     width: 100%;
  display: flex;
  flex-direction: column;
margin-top: 30px;
gap: 25px;
}
.password .auth-title {
    font-size: 26px;
  font-weight: 600;
  color: rgb(17, 17, 17);
  line-height: 130%;
    letter-spacing: 0px;
    margin:0;
} 
.password .label {
    text-align: left;
    color: rgb(17, 17, 17);
}
 