.est-section {
  display: flex;
  gap: 12px;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  width: 100%; /* ограничиваем ширину экрана */
  max-width: 100vw; /* точно в размер видимой области */
  box-sizing: border-box; /* учитываем padding */

  background: rgba(138, 126, 214, 1);
}

.main-container {
  width: 100%;
  align-items: stretch;
}
.view-order {
  position: fixed;
  bottom: 16px; /* отступ от низа */
  left: 16px;
  right: 16px;

  background: #4a6cf7;
  color: #fff;

  padding: 14px 16px;
  border-radius: 14px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-weight: 500;
  font-size: 16px;

  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);

  z-index: 9999;
}
.badge-view {
  background: white;
  color: #4a6cf7;
  font-weight: 600;

  width: 22px;
  height: 22px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  font-size: 12px;

  margin-right: 8px;
}

.left {
  display: flex;
  align-items: center;
}
