/* --- Главный контейнер --- */
.food-main {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(138, 126, 214, 1);

  overflow-x: hidden;
}


/* --- Основной белый блок --- */
.mainContFood {
  position: relative;
  width: 100%;
  min-height: 100vh;

  background: white;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;

  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 15px;

  margin-top: 20px;
}

.mainFoodInner {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  
}
.p {
   font-family: SF Pro Display;
font-weight: 400;
font-size: 14px;
line-height: 22px;
letter-spacing: 0px;
width: 273;
height: 22;
top: 8px;
left: 53px;
  color: #000;
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.location {
    width: 24px;
    height: 24px;
    top: 7px;
    left: 16px;
    opacity: 1;

}
.active-orders-card {
  width: 400px;
height: 260px;
top: 230px;
opacity: 1;

}
