.mainAcc-inf {
  position: relative;
  width: 100%;
  height: 100vh;

  background: rgba(50, 50, 50, 1);
  padding: 20px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.mainCont-inf {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 20px;
}

/* --- Заголовок --- */
.H {
  font-size: 26px;
  font-weight: 600;
  color: white;
  line-height: 130%;
  letter-spacing: 0px;
  margin: 0;
}

.profile-btn-acc {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px;
}
.information__label {
  text-align: left;
}
.prof-button {
  background: rgba(50, 50, 50, 1);
  border: none;
}
.profile-icon {
  flex-shrink: 0;
}

.delAcc-button {
  background: rgba(50, 50, 50, 1);
  border: none;
  display: flex;
  flex-direction: column;
  margin-top: auto;
}
.dellBtn {
  display: flex;
  justify-content: center;
}

/* --- Анимация появления --- */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
