.auth-title{
  
font-weight: 600;
font-size: 30px;

}
.auth-subtitle{
 
font-weight: 400;
font-size: 16px;
color: rgba(167, 169, 183, 1);
line-height: 160%;
letter-spacing: 0%;

}
.timer {
  margin-top: 10px;
  text-align: center;
  color: #6b7280;
}
.resend-btn {
font-weight: 400;
letter-spacing: 0px;
color: rgba(167, 169, 183, 1);
margin-bottom: 30px;
background: rgb(253, 253, 253);
border: none;
cursor: pointer;
}
.error-text {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}



