.dish-card {
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
  align-items: center;
  gap: 12px;
  padding: 12px;
  border-radius: 14px;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
  margin-bottom: 12px;
  align-items: center;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
  position: relative;
}

.dish-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
}

/* блок с текстом */
.dish-card > div:not(.cart-controls) {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: left;
  padding-right: 60px;
}
.dish-card img {
  width: 80px;
  height: 80px;
  border-radius: 12px;
  object-fit: cover;
  flex-shrink: 0;
}

.dish-card h4 {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  color: #222;
}

.dish-card p {
  margin: 4px 0;
  font-size: 12px;
  color: #777;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.dish-card span {
  font-size: 14px;
  font-weight: 600;
  color: #5a4df3;
}

.cart-controls {
  position: absolute;
  right: 13px;
  bottom: 10px;

  display: flex;

  opacity: 1;
  transition: 0.2s;

  align-items: center;

  background: white;
  border-radius: 10px;
  padding: 4px;

  gap: 4px;
}
.cart-controls button {
  width: 28px;
  height: 28px;
  border-radius: 20%;
  border: none;
  background: white;
  color: rgb(48, 47, 47);
  font-size: 12px;
  cursor: pointer;
}

.cart-controls span {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: rgb(48, 47, 47);
  background: white;
}
.del-icon {
  background: red;
  border-radius: 10px;
  width: 76px;
  height: 36px;
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
}
