.footer {
    max-width: 428px;
    height: 95px;
    border-width: 0.5px;
    background: rgba(255, 255, 255, 1);
    border: 0.5px solid rgba(168, 167, 167, 0.2);
    display: flex;
    padding: 20px 0 10px 0;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    gap: 50px;
    
     }
.footer-btn {
     display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;

     }
.icon-btn .label {
    top: 36px;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: rgba(195, 195, 195, 1);

}
.icon-btn {
    width: 40px;
    height: 40px;
    background:  none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.footer-icon {
  width: 26px;
  height: 26px;
  color: rgba(195, 195, 195, 1);
}

.icon-btn.active .footer-icon {
  color: #3776f6;
}

.icon-btn.active .label {
  color: #3776f6;
}