.header-icons {
  position: relative; /* не ломаем страницы без showBack */
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 10;
}

.header-left,
.header-right {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.header-center-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* когда только логотип */
.header-center-row:not(.with-title) {
  justify-content: center;
}

/* когда логотип + title */
.header-center-row.with-title {
  gap: 0px;
}
.logo-icon {
  width: 40px;
  height: 24px;
}
.title-header {
  opacity: 1;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 30px;
  line-height: 22px;
  letter-spacing: 0px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
}
